* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------------------------------------------- SLIDES/SCROLL STYLES -----------------------------------------------------------*/

#slide-container {
    display: flex;
    flex-direction: row;
}
.slide {
    min-width: 100vw;
    min-height: 100vh;
    scroll-snap-align: start;
}
#scroll {
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}


/* ---------------------------------------------------- STYLES FOR HOME SLIDE -----------------------------------------------------------*/

#zeroth {
    background-color: #051B34;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    margin-top: 20vh;
    margin-bottom: 5vh;
}
h1 {
    color: #ffffff;
    font-size: 4.2em;
    text-align: center;
}
#direction {
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}
#zeroth h2 {
    color: #B0D7F7;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}
#virus {
    width: 250px;
    margin: 50px;
}
#virus-contain {
    display: flex;
    justify-content: center;
}
.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


/* ---------------------------------------------------- STYLES FOR MASK SLIDE -----------------------------------------------------------*/

#first {
    background-color: #75B3F2;
    color: #ffffff;
}
#main-contain1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#textbox-1 {
    width: 75%;
    margin: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
}
#droparea1 {
    height: 132px;
    width: 200px;
    transform: translate(356px, 200px);
}
#image-1 {
    width: 300px;
    height: 300px;
    border-radius: 100em;
    background-color: #A9DDFB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#drag-contain {
    display: flex;
    justify-content: center;
}
#dragtarget1:hover {
    cursor: pointer;
}
#img-drop {
    display: flex;
    justify-content: left;
}
#mask-wearer {
    margin-right: 58px;
    margin-top: 58px;
}
#first p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#first h2 {
    font-size: 2.4em;
}
#first h3 {
    text-align: center;
    font-size: 1.35em;
    margin-top: 2%;
    color: #D3EFFF;
}


/* ---------------------------------------------------- STYLES FOR HANDS SLIDE -----------------------------------------------------------*/

#second {
    background-color: #004D99;
    color: #ffffff;
}
#main-contain2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#textbox-2 {
    width: 74%;
    margin: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
}
#droparea2 {
    margin-top: 20%;
}
#dragtarget2 {
    cursor: pointer;
}
#image-2 {
    width: 300px;
    height: 300px;
    border-radius: 100em;
    background-color: #5DA2F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#drag-contain-2 {
    display: flex;
    justify-content: center;
}
#second p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#second h2 {
    font-size: 2.4em;
}
#second h3 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 2%;
    color: #A9DDFB;
}
#virus-1 {
    width: 70px;
    margin-right: -70px;
    animation-name: pulse-1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse-1 {
    0% { transform: scale(1.1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1.1); }
}
#virus-2 {
    width: 90px;
    margin-bottom: 100px;
    margin-top: -50px;
    animation-name: pulse-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
#virus-3 {
    width: 60px;
    margin-bottom: 80px;
    margin-left: 20px;
    animation-name: pulse-3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse-3 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
#virus-cluster {
    float: right;
    margin-right: 370px;
    transform: translateY(-520px);
}


/* ---------------------------------------------------- STYLES FOR DISTANCING SLIDE -----------------------------------------------------------*/

#third {
    background-color: #A9DDFB;
    color: #001B36;
}
#main-contain3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}
#container-3 {
    display: flex;
    flex-direction: row;
    width: 69.5vw;
}
#droparea3 {
    height: 717px;
    width: 200px;
    margin-top: 13%;
    margin-left: 11%;
    z-index: 3;
    display: flex;
    justify-content: center;
}
#dragtarget3 {
    cursor: pointer;
}
#people {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 8.5%;
    width: 30.5vw;
    z-index: 2;
}
#textbox-3 {
    width: 35%;
    margin: 100px 0px 0px 100px;
}
#third p {
    margin: 20px 0px;
    font-size: 1.25em;
}
#third h2 {
    font-size: 2.4em;
}
#third h3 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 2%;
    color: #5DA2F4;
}


/* ---------------------------------------------------- STYLES FOR VACCINE SLIDE -----------------------------------------------------------*/

#fourth {
    background-color: #013265;
    color: #ffffff;
}
#main-contain4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#textbox-4 {
    width: 70%;
    margin: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
}
#droparea4 {
    height: 100px;
    width: 250px;
    transform: translate(50px, 620%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-4 {
    width: 300px;
    height: 300px;
    border-radius: 100em;
    background-color: #0080FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
#drag-contain-4 {
    display: flex;
    justify-content: center;
}
#dragtarget4:hover {
    cursor: pointer;
}
#img-drop4 {
    display: flex;
    justify-content: left;
}
#vacciner {
    margin-top: 58px;
}
#fourth p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#fourth h2 {
    font-size: 2.4em;
}
#fourth h3 {
    text-align: center;
    font-size: 1.35em;
    margin-top: 2%;
    color: #A9DDFB;
}