* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------------------------------------------- SLIDES/SCROLL STYLES -----------------------------------------------------------*/

#slide-container {
    display: flex;
    flex-direction: row;
}
.slide {
    min-width: 100vw;
    min-height: 100vh;
    scroll-snap-align: start;
}
#scroll {
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}


/* ---------------------------------------------------- STYLES FOR HOME SLIDE -----------------------------------------------------------*/

#zeroth {
    background-color: #051B34;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    margin-top: 20vh;
    margin-bottom: 5vh;
}
h1 {
    color: #ffffff;
    font-size: 4.2em;
    text-align: center;
}
#direction {
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}
#zeroth h2 {
    color: #B0D7F7;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}
#virus {
    width: 250px;
    margin: 50px;
}
#virus-contain {
    display: flex;
    justify-content: center;
}
.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


/* ---------------------------------------------------- STYLES FOR MASK SLIDE -----------------------------------------------------------*/

#first {
    background-color: #75B3F2;
    color: #ffffff;
}
.alternate {
    visibility: hidden;
}
#main-contain1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#textbox-1 {
    width: 75%;
    margin: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
}
#droparea1 {
    height: 132px;
    width: 200px;
    transform: translate(356px, 200px);
}
#image-1 {
    width: 300px;
    height: 300px;
    border-radius: 100em;
    background-color: #A9DDFB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#drag-contain {
    display: flex;
    justify-content: center;
}
#dragtarget1:hover {
    cursor: pointer;
}
#img-drop {
    display: flex;
    justify-content: left;
}
#mask-wearer {
    margin-right: 58px;
    margin-top: 58px;
}
#first p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#first h2 {
    font-size: 2.4em;
}
.direction, .alternate {
    text-align: center;
    font-size: 1.35em;
    margin-top: 2%;
    color: #D3EFFF;
}


/* ---------------------------------------------------- STYLES FOR HANDS SLIDE -----------------------------------------------------------*/

#second {
    background-color: #004D99;
    color: #ffffff;
}
#main-contain2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#textbox-2 {
    width: 74%;
    margin: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
}
#droparea2 {
    margin-top: 20%;
}
#dragtarget2 {
    cursor: pointer;
}
#image-2 {
    width: 300px;
    height: 300px;
    border-radius: 100em;
    background-color: #5DA2F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#drag-contain-2 {
    display: flex;
    justify-content: center;
}
#second p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#second h2 {
    font-size: 2.4em;
}
#second h3 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 2%;
    color: #A9DDFB;
}
#virus-1 {
    width: 70px;
    margin-right: -70px;
    animation-name: pulse-1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#soap-1 {
    width: 120px;
    margin-right: -115px;
    animation-name: pulse-1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse-1 {
    0% { transform: scale(1.1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1.1); }
}
#virus-2 {
    width: 90px;
    margin-bottom: 100px;
    margin-top: -50px;
    animation-name: pulse-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#soap-2 {
    width: 140px;
    margin-bottom: 100px;
    margin-top: -50px;
    animation-name: pulse-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
#virus-3 {
    width: 70px;
    margin-bottom: 80px;
    margin-left: 20px;
    animation-name: pulse-3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#soap-3 {
    width: 90px;
    margin-bottom: 80px;
    margin-left: 0px;
    animation-name: pulse-3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse-3 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
#virus-cluster {
    float: right;
    margin-right: 370px;
    transform: translateY(-520px);
}
#soap-cluster {
    visibility: hidden;
    float: right;
    margin-right: 350px;
    transform: translateY(-560px);
}


/* ---------------------------------------------------- STYLES FOR DISTANCING SLIDE -----------------------------------------------------------*/

#third {
    background-color: #A9DDFB;
    color: #001B36;
    display: flex;
    flex-direction: column;
}
#main-contain3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}
#container-3 {
    display: flex;
    flex-direction: row;
    width: 69.5vw;
}
#droparea3 {
    height: 717px;
    width: 200px;
    margin-top: 13%;
    margin-left: 11%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#spot-container {
    display: flex;
    height: 100vh;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(-220px);
}
#spot {
    height: 60px;
    margin-bottom: 8vh;
    /* margin-top: 52rem;
    transform: translateX(-218px); */
} 
#floor {
    background-color: #013265;
    width: 100vw;
    height: 20vh;
}
#dragtarget3 {
    cursor: pointer;
}
#people {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 8.5%;
    width: 30.5vw;
    z-index: 2;
}
#textbox-3 {
    width: 35%;
    margin: 100px 0px 0px 100px;
}
#third p {
    margin: 20px 0px;
    font-size: 1.25em;
}
#third h2 {
    font-size: 2.4em;
}
#third h3 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 2%;
    color: #5DA2F4;
}


/* ---------------------------------------------------- STYLES FOR VACCINE SLIDE -----------------------------------------------------------*/

#fourth {
    background-color: #013265;
    color: #ffffff;
}
#main-contain4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#textbox-4 {
    width: 70%;
    margin: 120px 0px 0px 120px;
    display: flex;
    flex-direction: column;
}
#droparea4 {
    height: 100px;
    width: 250px;
    transform: translate(50px, 620%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-4 {
    width: 300px;
    height: 300px;
    border-radius: 100em;
    background-color: #0080FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
#drag-contain-4 {
    display: flex;
    justify-content: center;
}
#dragtarget4:hover {
    cursor: pointer;
}
#img-drop4 {
    display: flex;
    justify-content: left;
}
#vacciner {
    margin-top: 58px;
}
#fourth p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#fourth h2 {
    font-size: 2.4em;
}
#fourth h3 {
    text-align: center;
    font-size: 1.35em;
    margin-top: 2%;
    color: #A9DDFB;
}

/* ---------------------------------------------------- STYLES FOR INFO/CHARTS SLIDE -----------------------------------------------------------*/

#fifth {
    background-color: #ffffff;
    color: #000;
}
header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
#restart, #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#info:hover {
    cursor: pointer;
}
#info:hover i {
    color: #EA39B7;
}
i {
    color: #0080FF;
    transition: 0.2s ease-in-out;
}
a:hover i {
    color: #EA39B7;
}
a p {
    color: black;
}
header p {
    font-size: 0.6em;
}
#main-contain5 {
    display: flex;
    flex-direction: row;
}
#textbox-5 {
    width: 50vw;
    padding: 10px 100px;
}
iframe {
    margin-left: 15px;
}
#all-charts {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: baseline;
}
#textbox-5 p {
    margin: 15px 0px;
    font-size: 1.25em;
}
#textbox-5 li {
    font-size: 1.25em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#fifth h2 {
    font-size: 2.4em;
}
#fifth h3 {
    font-size: 1.45em;
    margin-top: 5%;
}
#lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#button-container {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
}
button {
    width: 320px;
    height: 55px;
    border-radius: 100em;
    border: none;
    background-color: #0080FF;
    color: white;
    font-size: 1.15em;
    font-family: 'Comfortaa', cursive;
    transition: 0.2s ease-in-out;
}
button:hover {
    cursor: pointer;
    background-color: #EA39B7;
    transform: scale(1.05);
}
#source-content {
    display: none;
    padding: 30px;
    font-size: 1em;
    background-color: #004D99;
    border-radius: 10px;
    float: right;
    margin: 10px;
    transform: translateY(-305%);
}
#source-content p {
    margin: 15px;
    color: white;
}
#source-content a {
    color: #A9DDFB;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}
#source-content a:hover {
    color: white;
}

/* ------------------------------------------------------- MEDIA QUERIES --------------------------------------------------------------*/
@media (min-width: 1051px) {
    #curve_chart1, #curve_chart2 {
        width: 45vw;
        height: 30vh;
    }
}
@media (max-width: 1050px) and (min-width: 600px) {
/* -------------------------- HOME SLIDE -------------------------------*/
    h1 {
        font-size: 3em;
    }
    #zeroth h2 {
        font-size: 2em;
    }
    #container {
        margin-top: 30vh;
        height: 65vh;
    }
/* -------------------------- MASK SLIDE -------------------------------*/
    #main-contain1 {
        flex-direction: column;
    }
    #drag-contain, #img-drop {
        display: none;
    }
    #first {
        background-image: url("../images/slide1-tablet.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    #textbox-1 {
        margin-top: 150px;
        width: 78%;
    }
    .alternate {
        visibility: visible;
        margin-top: -20px;
    }
    .direction {
        visibility: hidden;
    }
/* -------------------------- HANDS SLIDE -------------------------------*/
    #main-contain2 {
        flex-direction: column;
    }
    #drag-contain-2 {
        display: none;
    }
    #textbox-2 {
        margin-top: 150px;
        width: 78%;
    }
    #hand-imgs {
        margin-left: 25%;
        margin-top: -10%;
    }
    #virus-cluster {
        visibility: hidden;
    }
    #soap-cluster {
        visibility: visible;
        margin-right: 270px;
        transform: translateY(-700px);
    }
    #second .alternate {
        margin-top: -20px;
    }
/* -------------------------- DISTANCING SLIDE -------------------------------*/
    #main-contain3, #container-3 {
        flex-direction: column;
    }
    #droparea3, #spot-container, #people, #floor {
        visibility: hidden;
    }
    #textbox-3 {
        width: 110%;
        margin: 150px 0px 0px 120px;
    }
    #third {
        background-image: url("../images/slide3-tablet.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
    #third .alternate {
        margin-top: -20px;
    }
/* -------------------------- VACCINE SLIDE -------------------------------*/
    #main-contain4 {
        flex-direction: column;
    }
    #img-drop4 {
        visibility: hidden;
    }
    #textbox-4 {
        width: 78%;
        margin-top: 150px;
    }
    #dragtarget4 {
        width: 300px;
    }
    #image-4 {
        width: 400px;
        height: 400px;
    }
/* -------------------------- INFO SLIDE -------------------------------*/
    #main-contain5 {
        flex-direction: column;
    }
    #textbox-5 {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3%;
        padding: 0px;
    }
    #button-container {
        margin-top: 4%;
    }
    #all-charts {
        flex-direction: row;
        margin-left: -20%;
        margin-top: 5%;
    }
    iframe {
        visibility: hidden;
    }
    #source-content {
        transform: translateY(-385%);
    }
}

@media (max-width: 599px) {
/* -------------------------- HOME SLIDE -------------------------------*/
    h1 {
        font-size: 2.7em;
    }
    #zeroth h2 {
        font-size: 1.2em;
    }
    #container {
        margin-top: 20vh;
        height: 75vh;
    }
    #zeroth h3 {
        font-size: 1em;
    }
    #virus {
        width: 200px;
    }
/* -------------------------- MASK SLIDE -------------------------------*/
    #main-contain1 {
        flex-direction: column;
    }
    #drag-contain, #img-drop {
        display: none;
    }
    #first {
        background-image: url("../images/slide1-mobile.png");
        background-repeat: no-repeat;
        background-position: 50% 26%;
    }
    #textbox-1 {
        margin: 40px 0px 0px 25px;
        width: 88%;
    }
    #textbox-1 h2 {
        font-size: 2em;
    }
    #textbox-1 p {
        font-size: 1em;
    }
    .alternate {
        visibility: visible;
        margin-top: -45px;
        font-size: 1.2em;
    }
    .direction {
        visibility: hidden;
    }
/* -------------------------- HANDS SLIDE -------------------------------*/
    #main-contain2 {
        flex-direction: column;
    }
    #second {
        background-image: url("../images/hands-mobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 25%;
    }
    #drag-contain-2 {
        display: none;
    }
    #textbox-2 {
        margin: 40px 0px 0px 25px;
        width: 88%;
    }
    #textbox-2 h2 {
        font-size: 2em;
    }
    #textbox-2 p {
        font-size: 1em;
    }
    #hand-imgs {
        visibility: hidden;
    }
    #second .alternate {
        margin-top: -20px;
        font-size: 1.2em;
    }
/* -------------------------- DISTANCING SLIDE -------------------------------*/
    #main-contain3, #container-3 {
        flex-direction: column;
    }
    #droparea3, #spot-container, #people, #floor {
        visibility: hidden;
    }
    #textbox-3 {
        width: 125%;
        margin: 40px 0px 0px 25px;
    }
    #textbox-3 h2 {
        font-size: 2em;
    }
    #textbox-3 p {
        font-size: 1em;
    }
    #third {
        background-image: url("../images/slide3-tablet.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 28%;
    }
    #third .alternate {
        margin-top: -70px;
        font-size: 1.2em;
    }
/* -------------------------- VACCINE SLIDE -------------------------------*/
    #main-contain4 {
        flex-direction: column;
    }
    #img-drop4 {
        visibility: hidden;
    }
    #textbox-4 {
        width: 88%;
        margin: 40px 0px 0px 25px;
    }
    #textbox-4 h2 {
        font-size: 2em;
    }
    #textbox-4 p {
        font-size: 1em;
    }
    #dragtarget4 {
        width: 200px;
    }
    #image-4 {
        width: 300px;
        height: 300px;
    }
    #fourth .alternate {
        margin-top: -50px;
        font-size: 1.2em;
    }
/* -------------------------- INFO SLIDE -------------------------------*/
    #main-contain5 {
        flex-direction: column;
    }
    #textbox-5 {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 1%;
        padding: 0px;
    }
    #button-container {
        visibility: hidden;
    }
    #all-charts {
        flex-direction: row;
        margin-left: -42%;
        margin-top: -27%;
    }
    #curve_chart2 {
        visibility: hidden;
    }
    #fifth h2 {
        font-size: 1.3em;
    }
    #fifth h3 {
        font-size: 0.9em;
    }
    #fifth p, #fifth li {
        font-size: 0.75em;
    }
    iframe {
        visibility: hidden;
    }
    #restart p, #info p {
        font-size: 0.1em;
    }
    #fifth li {
        font-size: 0.7em;
        margin-left: 15px;
    }
    #source-content {
        transform: translateY(-260%);
    }
}